<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <p class="has-text-grey">
                    <a href="/auth/google">Google Login</a>
                </p>
            </div>
        </div>
    </div>
</section>
<style>
    .hero.is-success {
        background: #F2F6FA;
    }
    p {
        font-size: 20;
        font-weight: 700;
    }
</style>

<script>
</script>